**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/.env.local
**/.env.local
**/.cursorignore
**/.gitignore
**/cloudbuild.yaml
**/cloudrun-job.yaml
**/execute-on-local.sh
**/execute-on-cloud.sh
**/deploy.sh
